<a href="https://colab.research.google.com/github/geoifg/SMS/blob/main/Python_atividade7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Notebook para a sétima atividade no Python**

In [ ]:
# Uma das primeiras funççoes que aprendemos foi a print, que mostra o conteúdo na tela
print('Olá!')

Olá!

In [ ]:
# Também aprendemos a função type, que verifica o tipo de dado de uma variável ou objeto
type('12')

str

In [ ]:
type(12)

int

In [ ]:
# Vamos criar uma lista com números para explorar  outras funções
numeros=[1,5,7,8,15]

In [ ]:
# Encontrar o valor máximo da lista
max(numeros)

15

In [ ]:
# Encontrar o valor minímo da lista
min(numeros)

1

In [ ]:
# Obter o comprimento de um vetor, nesse caso o número de elementos (números) na nossa lista
len(numeros)

5

In [ ]:
# Usamos a função type para verificar o tipo de dados e a função int para transformar o número em inteiro (conversão de tipo)
type(int(5.7))

int

In [ ]:
# Usamos a função type para verificar o tipo de dados e a função float para transformar o número em fracionário (conversão de tipo)
type(float(5))

float

In [ ]:
# Usamos a função type para verificar o tipo de dados e a função str para transformar o número em texto (conversão de tipo)
type(str(9))

str

In [ ]:
# Agora vamos importar a biblioteca math para  utilizar outras funções interessantes
import math

In [ ]:
# Só para vocês verem que  o pritn aqui retorna um módulo
print(math)

<module 'math' (built-in)>

In [ ]:
# Logaritmo na base 10
math.log10(100)

2.0

In [ ]:
# Função seno
math.sin(0.7)

0.644217687237691

In [ ]:
# Função seno  com função radians para converter 30 graus para o valor em radianos. Isso porque a função sin ( e todas as trigonométricas)
# no Python aceitam a medida do ângulo apenas em radianos
math.sin(math.radians(30))

0.49999999999999994

In [ ]:
# Calcula o valor em radianos para o ângulo de 30 graus
math.radians(30)

0.5235987755982988

In [ ]:
# Raiz quadrada
math.sqrt(16)

4.0