<a href="https://colab.research.google.com/github/geoifg/SMS/blob/main/Python_atividade2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Notebook para a segunda atividade no Python**

In [3]:
# Mostre na tela um valor, nesse caso 10
print(10)

10

In [4]:
# Checar o tipo de um valor ou variável
type(10)

int

In [5]:
# Um número dentro de aspas sera entendido como string
type('10')

str

In [6]:
# Textos serão do tipo string 
type('Hello World')

str

In [7]:
# Números fracionários serão do tipo  float
type(10.5)

float

In [8]:
# O separador decimal do python é o ponto não a vírgula.
# Aqui ele vai entender como dois números separados
print(1,2)

1 2

In [9]:
# O separador decimal do python é o ponto não a vírgula.
# Aqui ele vai entender como 1.2
print(1.2)

1.2

In [1]:
# Operações de atribuicão não mostram saída na tela
idade=35

In [2]:
# O método print produz saída na tela
print(idade)

35

In [10]:
# O tipo da variável corresponde ao tipo do valor que ela armazena
type(idade)

int

In [13]:
# Podemos atualizar o valor de uma variável
idade=35.5

In [14]:
# Veja como valor e tipo foram atualizados
print(idade)
print(type(idade))

35.5
<class 'float'>

In [15]:
# O python possui 33 palavras chave que não podem ser usadas como nome de variável. 
# Caso sejam usados, gerarão erro
and=4

SyntaxError: ignored

In [16]:
False=4

SyntaxError: ignored

In [17]:
# Python nao aceita nome de variável começando com número
10idade=10

SyntaxError: ignored

In [18]:
# Python não aceita nome de variável com caracters especiais
idade@=10

TypeError: ignored

In [19]:
# Aceita números no meio do nome da variável, mas não é recomendado
ida15de=10

In [21]:
# A escolha do nome das variáveis deve ser mnemônica. Ou seja, escolha nomes que te ajudem a lembrar
# do que a variável se trata e sua função no código
nome='Edipo'
idade=35